{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Мой игровой сайт{% endblock %}</title>

    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>

<body>

<header>
    <h1>Шапка сайта</h1>
    <nav>
        <a href="/">Главная</a>
    </nav>
</header>

<main>
    {% block content %}
    {% endblock %}
</main>

<footer>
    <h1>Подвал сайта</h1>
</footer>

</body>
</html>
